@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-white;
  }
}

/* 3D Isometric Utilities */
.iso-parent {
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateZ(-45deg);
}

.iso-child {
  transform-style: preserve-3d;
}