# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
.venv/
.cache/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Project Specific
uploads/
*.log
.DS_Store
synthetic_data/
testing/